<div class="container">
    <div class="alert alert-warning" *ngIf='invalidLoginAlert'>{{errorMessage}}</div>
    <div class="alert alert-success" *ngIf='successRegisterAlert' >{{registerSuccessMessage}}</div>
    <div class="alert alert-danger" *ngIf='notsuccessRegisterAlert' >{{registerFailMessage}}</div>

    <app-login-form 
        *ngIf="!onCreateAccountForm"
        (onUserFormGroupSubmit)="onUserFormGroupSubmit($event)"></app-login-form>
    <app-register-btn 
        *ngIf="!onCreateAccountForm"
        (onUserWantsNewAccount)="onWantsNewAccount($event)"></app-register-btn>
    <app-register-form
        *ngIf="onCreateAccountForm"
        (onRegisterFormGroupSubmit)="onRegisterFormGroupSubmit($event)"></app-register-form>
</div>
