<footer>
  <div id="sections">
    <div>
      <p id="copyright">Copyright © 2022 The Big Shots. All Rights Reserved
    </div>

    <div>
      <p class="title">Authors</p>
      <div id="authorlist">
        <p>Simon Kuang</p>
        <p>Andrew Krause</p>
        <p>Devin Lewis</p>
        <p>Leon Lu</p>
      </div>
    </div>

    <div>
      <p class="title">Quick Links</p>
      <div class="navbar-nav ml-auto">
        <a class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Random joke</a>
        <a class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show"routerLink="/find" routerLinkActive="active">Find jokes</a>
        <a class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show"routerLink="/create" routerLinkActive="active">Create a joke</a>
      </div>
    </div>
  </div>
</footer>
