<footer>
  <div id="sections">
    <div>
      <p id="copyright">Copyright © 2022 The Big Shots. All Rights Reserved
    </div>

    <div>
      <p class="title">Authors</p>
      <div id="authorlist">
        <p><a href="https://github.com/simonsimon9">Simon Kuang</a></p>
        <p><a href="https://github.com/wetbug75">Andrew Krause</a></p>
        <p><a href="https://github.com/wolfpackdev5">Devin Lewis</a></p>
        <p><a href="https://github.com/IceDragoon064">Leon Lu</a></p>
      </div>
    </div>

    <div>
      <p class="title">Quick Links</p>
      <div class="navbar-nav ml-auto">
        <a class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Random joke</a>
        <a class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show"routerLink="/find" routerLinkActive="active">Find jokes</a>
        <a class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show"routerLink="/create" routerLinkActive="active">Create a joke</a>
      </div>
    </div>
  </div>
</footer>
