#jokeBox{
	border-radius: 25px;
	width: 50%;
	border: 1px solid black;
	padding: 50px;
	margin: 20px;
	text-align: center;
	background-color: purple;
	background-image: linear-gradient(-20deg, purple, #bb6eff);

	}


#jokeScreen{
	margin: 0 auto;
	justify-content: center;
	display:flex;
}
