<app-find-joke-form (keyWord)="onSubmitSearch($event)"></app-find-joke-form>

<div class="container page-joke-container">
  
    <app-loading [message]="'Loading'" *ngIf="loadingService.isLoading$ | async"></app-loading>
    
    <div class="sorry" *ngIf="!(loadingService.isLoading$ | async) && totalJokesDB ==0" >
         <p class="cartoonletter">Sorry, No Jokes Found</p>
    </div>
     
    <table *ngIf="!(loadingService.isLoading$ | async) && totalJokesDB !=0" class="table table-borderless table-hover"> 
        <thead class="wow">
            <th>JOKE</th>
            <th class="like">LIKES</th>
            <th class="dislike">DISLIKES</th>
        </thead>
        <tbody>
          <tr class="table-row"*ngFor="let joke of JOKES | paginate: { itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalJokesDB }">
            <td>
              <div *ngIf="joke.question != '' && joke.answer == ''">
                <span class="bold">One Liner: </span>{{joke.question}} <br>
              </div>
              <div *ngIf="joke.question == '' && joke.answer != ''">
                <span class="bold">One Liner: </span>{{joke.answer}} <br>
              </div>
              <div *ngIf="joke.question != '' && joke.answer != ''">
                <span class="bold">Question:  </span>{{joke.question}} <br>
                <span class="bold">Answer:  </span> {{joke.answer}} <br>
              </div>
              
              <span class="bold">Author: </span>{{joke.author_name}}<br>
            <td class="like bold">{{joke.upvotes}}</td>
            <td class="dislike bold">{{joke.downvotes}}</td>
          </tr>
        </tbody>
       
    </table>  

    <div  *ngIf="!(loadingService.isLoading$ | async) && totalJokesDB !=0" class="page-control">
      <pagination-controls 
        (pageChange)="pageChanged($event)"
        >
      </pagination-controls>
    </div>
</div>