/** Counter style **/
.thumbCount{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;

    font-weight: bold;
    margin-bottom: 0rem;
    -webkit-text-stroke: 1px black;
}

#thumbUpCount{
    color: #27b500;
}

#thumbDownCount{
    color: #cc0000;
}

#loginNotice{
  font-size: 1.5em;
  font-weight: bold;
}


/** Table sytle **/
table{
  width: 30%;
}
td {
  width: 50%;
}





/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {
  .thumbCount{
    font-size: 30px;
  }
}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {
  .thumbCount{
    font-size: 30px;
  }
}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
  .thumbCount{
    font-size: 35px;
  }
}

/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {
  .thumbCount{
    font-size: 40px;
  }
}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
  .thumbCount{
    font-size: 50px;
  }


}
