/** Button class styles **/
#thumbUpBtn{
    border-radius: 50%;
    width: 90px;
    height: 90px;
    padding-top: 15px;
    background-image: linear-gradient(-20deg, #015c0c, #77e868);
}

#thumbDownBtn{
    border-radius: 50%;
    width: 90px;
    height: 90px;
    padding-top: 20px;
    background-image: linear-gradient(-20deg, #5c0101, #e86868);
}

img{   
    width: 50px;
    height: 50px;
    -webkit-filter:invert();
}


/** Counter style **/
.thumbCount{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0rem;
    -webkit-text-stroke: 1px black;
}

#thumbUpCount{
    color: #27b500;
}

#thumbDownCount{
    color: #cc0000;
}


/** Table sytle **/
td{
    padding: 15px;
}

