.navigationBar{
	overflow:  hidden;
	background-color: #9ADCFF;
	width:fixed;
}	

.navigationBar a{
	float: right;
	text-align: center;
	padding: 25px;
	font-size: 17px;
	font-family: Arial;
	line-height: 50px;
}

.navigationBar a:visited{
	color: black;
}

.navigationBar a:hover{
	background-color: #FFF89A;
	color: black;
	font-weight: bold;
}

.navigationBar a.title{
	font-weight: bold;
	float:left;
	font-size: 25px;
	pointer-events: none;
	text-decoration: none;
}