

.nav-item{
	font-weight: 600;
	text-decoration: none;
	
}
.navigationBar{
	overflow:  hidden;
	background-color: #9ADCFF;
	width:fixed;
	padding: 0;
}	

.navigationBar a{
	float: right;
	text-align: center;
	padding: 22px;
	font-size: 20px;
	font-family: Arial;
	line-height: 50px;
	letter-spacing: 1.5px;
}

.navigationBar a:visited{
	color: black;
	text-decoration: none;
}

.navigationBar a:hover{
	background-color: #FFF89A;
	color: black;
	
	
}

.navigationBar a.title{
	font-weight: bold;
	float:left;
	font-size: 30px;
	pointer-events: none;
	text-decoration: none;
}


  .hamburger{
	  margin-right: 1.5rem;
  }
  .meat {
	
	width: 35px;
	height: 5px;
	background-color: black;
	margin: 6px 0;
  }

  .hamburger:hover{
    cursor:pointer;
  }


  @media (min-width: 1310px){
    .navbar-expand-custom {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-custom .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-custom .dropdown-menu {
        position: absolute;
    }
    .navbar-expand-custom .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .navbar-expand-custom > .container {
        flex-wrap: nowrap;
    }
    .navbar-expand-custom .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
    }
    .navbar-expand-custom .navbar-toggler {
        display: none;
    }
	.navigationBar a.title{
		font-size: 43px;
        font-weight: 700;
	}
	.hamburger{
        display:none;
    }
}