<!--<div class="navigationBar">-->

<nav class=" navigationBar navbar navbar-expand-custom mb-5 ">
    <a class="navbar-brand" routerLink="/" href="/" class="title">FUNNY BUTN</a>
    
    <div>
      <button class="css-btn" (click)="defaultClick()">⭐</button>
    </div>
    <div>
      <button class="css-btn" (click)="darkClick()">💫</button>
    </div>
    <div>
      <button class="css-btn" (click)="artsyClick()">🎨</button>
    </div>
    <div>
      <button class="css-btn" (click)="bluePurpleClick()">🌀</button>
    </div>

    <div class="hamburger "   data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <div class="meat"></div>
        <div class="meat"></div>
        <div class="meat"></div>
    </div>
    
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">RANDOM JOKES</a>
        <a class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show"routerLink="/find" routerLinkActive="active">FIND JOKES</a>
        <a class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show"routerLink="/create" routerLinkActive="active">CREATE JOKES</a>
        <a *ngIf="!isLoggedIn"class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show"routerLink="/login" routerLinkActive="active">LOGIN</a>   
        <a (click)="handleLogout()"*ngIf="isLoggedIn" class="nav-item logout" data-toggle="collapse" data-target=".navbar-collapse.show"routerLink="/login" >LOGOUT</a>       
      </div>
    </div>
  </nav>