.navbar{
	padding: 0;
}

.nav-item{
	font-weight: 600;
	text-decoration: none;
	
}
.navigationBar{
	overflow:  hidden;
	background-color: #9ADCFF;
	width:fixed;
}	

.navigationBar a{
	float: right;
	text-align: center;
	padding: 25px;
	font-size: 17px;
	font-family: Arial;
	line-height: 50px;
	letter-spacing: 1.5px;
}

.navigationBar a:visited{
	color: black;
	text-decoration: none;
}

.navigationBar a:hover{
	background-color: #FFF89A;
	color: black;
	
	
}

.navigationBar a.title{
	font-weight: bold;
	float:left;
	font-size: 25px;
	pointer-events: none;
	text-decoration: none;
}


  .hamburger{
	  margin-right: 1rem;
  }
  .meat {
	
	width: 35px;
	height: 5px;
	background-color: black;
	margin: 6px 0;
  }