/** Button class styles **/
.upNotClicked{
  border-radius: 50%;
  padding-top: 12%;
  background-image: linear-gradient(-20deg, #015c0c, #77e868);
}

.upClicked{
border-radius: 50%;
padding-top: 12%;
background-image: linear-gradient(-20deg, #00e21a, #77e868);
}

.downNotClicked{
  border-radius: 50%;
  padding-top: 15%;
  background-image: linear-gradient(-20deg, #5c0101, #e86868);
}

.downClicked{
border-radius: 50%;
padding-top: 15%;
background-image: linear-gradient(-20deg, #c50000, #e86868);
}

img{
  -webkit-filter:invert();
}

.loginError{
  color:red;
  font-weight: bold;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/** Table sytle **/
td{
  padding: 15px;
}

table{
  width: 30%;
}

button{
z-index: 1;
}

/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {
  img{
    width: 15px;
    height: 15px;
  }
  button{
    width: 40px;
    height: 40px;
  }

  .loginError{
    font-size: 20px;
  }
}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px)  {
  img{
    width: 25px;
    height: 25px;
  }

  button{
    width: 40px;
    height: 40px;
  }

  .loginError{
    font-size: 20px;
  }
}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
  img{
    width: 40px;
    height: 40px;
  }

  button{
    width: 70px;
    height: 70px;
  }

  .loginError{
    font-size: 25px;
  }
}

/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {
  img{
    width: 45px;
    height: 45px;
  }

  button{
    width: 80px;
    height: 80px;
  }

  .loginError{
    font-size: 30px;
  }
}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
  img{
    width: 50px;
    height: 50px;
  }

  button{
    width: 90px;
    height: 90px;
  }

  .loginError{
    font-size: 35px;
  }
}
