<app-joke></app-joke>
<app-ratings></app-ratings>
<table>
  <tr>
    <td>
        <button id="thumbUpBtn"  [ngClass]="{'upClicked' : upclick, 'upNotClicked': !upclick}" (click)="UpvoteTapped()"><img src="../../../../assets/images/pngfind.com-thumbs-up-png-604515.png"/></button>
    </td>

    <td>
        <button id="thumbDownBtn" [ngClass]="{'downClicked' : downclick, 'downNotClicked': !downclick}" (click)="DownvoteTapped()"><img src="../../../../assets/images/pngfind.com-spyro-the-dragon-png-1526789.png"/></button>
    </td>
  </tr>
</table>
<br>
<p id="loginMsg" class="loginError" style="visibility: hidden">Login to vote</p>
<app-button text="Get Random Joke" (btnClick)="getRandomJoke()"></app-button>
