.container{
    padding: 0rem;
}

input{
    width:100%;
}

@media(min-width:576px){
    .container{
        padding:3rem;
        padding-top:0rem;
    }

}

@media (min-width:768px){
    .container{
        padding:5rem;
        padding-top:0rem;
    }
}
@media(min-width:992px){
    .container{
        padding:10rem;
        padding-top:0rem;
    }

}