body{
	background-color: #FFFDE1;
}

button{
	border-radius: 25px;
	width: 20%;
	border: 1px solid black;
	padding: 15px;
	margin: 20px;
	text-align: center;
	font-size: 20px;
    font-weight: bold;
	background-color: #9ADCFF;
	text-align:center;
	margin: 0 auto;
	justify-content: center;
	display:flex;
}