.jokeText{
  text-align: center;
}

/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {
  .jokeText{
    font-size:20px;
  }
}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {
  .jokeText{
    font-size:20px;
  }
}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
  .jokeText{
    font-size:32px;
  }
}

/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {
  .jokeText{
    font-size:42px;
  }
}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
  .jokeText{
    font-size:50px;
  }
}
