<!DOCTYPE html>
<html>
<link rel="stylesheet" href="app.component.css">

<body>
	<!-- Top Navigation Menu -->
	<div class="navigationBar">
		<a class="title"> TELL JOKE LAUGH</a>
		<a>CREATE JOKES</a>
		<a>FIND JOKES</a>
		<a>RANDOM JOKES</a>
	</div>
	<br>
	<br>
	<br>

	<!-- The joke box that will appear after clicking a button -->
	<div id="jokeScreen">
		<div id="jokeBox">
			<p class="jokeText" id="jokeQuestion">What's a skeleton favorite snack?</p>
			<p class="jokeText" id="jokeAnswer">SPARE RIBS!</p>
		</div>
	</div>
	<button id="randomJokeBtn" onclick="">Get a random joke</button>
	<app-view-create-joke></app-view-create-joke>
</body>

</html>