
.navigationBar{
	overflow:  hidden;
	background-color: #9ADCFF;
	width:fixed;
}	


.navigationBar a{
	float: right;
	text-align: center;
	padding: 25px;
	font-size: 17px;
	font-family: Arial;
	line-height: 50px;
}

.navigationBar a:hover{
	background-color: #FFF89A;
	color: black;
	font-weight: bold;
}

.navigationBar a.title{
	font-weight: bold;
	float:left;
	font-size: 20px;

}

.navigationBar a.title:hover{
	background-color: #9ADCFF;
}


#jokeBox{
	border-radius: 25px;
	width: 50%;
	border: 1px solid black;
	padding: 50px;
	margin: 20px;
	text-align: center;
	background-color: purple;
	background-image: linear-gradient(-20deg, purple, #bb6eff);

	}
	
.jokeText{
	color:white;
	font-size: 30px;
	font-family:Comic Sans MS;
	font-style:bold;
	text-align:center;
	margin: auto;
	
}

#jokeScreen{
	margin: 0 auto;
	justify-content: center;
	display:flex;
}

#jokeText{
	display: none;
}



