<h3>Login to create and save your own jokes!</h3>
<form>
    <table>
        <tr>
            <td class="labelHolder">
                <label>Username:</label>
            </td>
            <input type="text" formControlName="question" placeholder="required">
            <td>

            </td>
        </tr>

        <tr>
            <td class="labelHolder">
                <label>Password: </label>
            </td>
            
            <td>
                <input type="password" formControlName="answer" placeholder="required">
            </td>
        </tr>
    </table>
    <button id="btn-submit-joke">Login</button>
</form>